* {
	border: none;
	border-radius: 0;
	transition: none; /* Disable predefined animations */
	font-family: "Hack", monospace;
	font-size: 11pt;
}

window#waybar {
	background-color: #1e1e2e /*nb*/;
	color: #cdd6f4 /*nf*/;
}

.modules-left,
.modules-right {
	padding: 0px 0px 0px 0px;
}

#workspaces button {
	padding: 0px 5.5pt 0px 5.5pt;
	min-width: 1px;
	color: #cdd6f4 /*nf*/;	
}

#workspaces button.focused {
	background-color: #b4befe /*fb*/;
	color: #1e1e2e /*ff*/;
}

#window {
	background-color: #b4befe /*fb*/;
	color: #1e1e2e /*ff*/;
	padding: 2px 10px 0px 10px;
	font-size: 10pt;
}

window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

/*window#waybar.empty {
	background-color: #1e1e2e / * nb * /;
}*/

#mode {
	background-color: #9399b2 /*in*/;
	color: #1e1e2e /*ff*/;
	padding: 0px 5.5pt 0px 5.5pt;
}

#temperature,
#cpu,
#memory,
#backlight,
#battery,
#network,
#pulseaudio,
#custom-mic,
#clock {
	padding: 0px 5.5pt 0px 5.5pt;
}
